<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678456044673-68b2f9fiiccplaj8j92k0kgooj6ddfci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678456044673-68b2f9fiiccplaj8j92k0kgooj6ddfci</string>
	<key>API_KEY</key>
	<string>AIzaSyD12nMsm9FatGdcc-8QNXDDoXq8-1duN9U</string>
	<key>GCM_SENDER_ID</key>
	<string>678456044673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cibertec.App-Farmacia-damii</string>
	<key>PROJECT_ID</key>
	<string>proyectodamiiappfarmacia</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectodamiiappfarmacia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678456044673:ios:d67c9b7acc83f89f14b180</string>
</dict>
</plist>